@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  height: auto;
}

.html {
  height: 100%;
  margin: auto;
}

/* 
NAVIGATION BAR
*/

.nav__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}

.logo {
  display: flex;
  font-style: bold;
}

.logo__name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700px;
  padding: 0px 10px;
}

img {
  max-width: 100%;
  width: 50px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link {
  margin: 0 26px;
  padding-right: 14px;
  text-decoration: none;
  font-weight: bold;
}

.nav__link--primary {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #7342d6;
  color: white;
  font-size: 16px;
  font-weight: 900;
}

/* 
LANDING
*/

.landing__page {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
}


.column__one {
  max-height: 100%;
  max-width: 500px;
  width: 40%;
  display: inline-block;
}

.header__description {
  margin: 0 auto;
  padding: 0;
}

.header__description--primary {
  font-size: 66px;
}

.paragraph_description {
  margin: auto 0;
}

.paragraph__description--primary {
  font-size: 18px;
  padding: 24px 0;
}

.column__two {
  max-height: 100%;
  max-width: 700px;
  width: 60%;
  display: inline-block;
}

.company__logo {
  display: flex;
}
.company__logo--primary {
  width: 500px;
  padding-top: 50px;
}

.landing__logo {
  width: 700px;
  justify-content: right;
  margin: auto;
  height: auto;
  padding-right: 0;
}

.header__purple {
  color: #7342d6;
  justify-content: left;
}

.email__button {
  padding-bottom: 10px;
  text-align: center;
  margin: auto;
}

/* 
FEATURES
*/

.features {
  padding: 80px 0;
}

.features__page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.features__title {
  padding-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #7342d6;
}

.features_title--primary {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  padding-top: 44px;
  align-items: center;
}

.feature__purple {
  color: #7342d6;
  padding-left: 12px;
}

.features__description {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-top: 33px;
  align-items: center;
  text-align: center;
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.service {
 display: flex;
 width: calc(100%/3) 
}

.service__description {
  
}